.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.input-group span {
    position: absolute;
    left: 22px;
    top: 13px;
}

input {
    background-color: #F0EDFF;
    color: #1C1C1C;
    border: none;
    border-radius: 16px;
    outline: none;
    padding: 17px;
    font-size: 12px;
    min-width: 364px;
}

input::placeholder {
    color: #1C1C1C;
}

input.with-icon {
    padding-left: 56px;
}

.input-group {
    position: relative;
    margin-bottom: 18px;
}

.input-group .icon {
    position: absolute;
    top: 16px;
    left: 16px;
    color: #1C1C1C;
    transition: all 0.2s ease-in-out;
}