li {
    width: 120px;
    text-align: center;
}

ul {    
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 100px;
    text-align: center;
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

nav > ul > li {
    background-color: aqua;
    padding: 10px 20px;
    color: black;
    font-size: 20px;
}

nav > ul > li:hover {
    font-weight: bold;
}

nav > ul > li.current {
    background-color: bisque;
}

nav > ul > li > ul {
    display: none;
    position: absolute;
    margin-top: 10px;
    margin-left: -20px;
    flex-direction: column;
}

nav > ul > li:hover ul {
    display: flex;
}

nav > ul > li > ul > li {
    font-weight: normal;
    background-color: black;
    padding: 10px 20px;
    font-size: 20px;
    color: aqua;
}

nav > ul > li > ul > li:hover {
    font-style: italic;
}

nav > ul > li > ul > li.current {
    color: bisque;
}